{% extends 'navbar.html' %}
{% block main_content %}

{% if history %}
{% csrf_token %}
<div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Date</th> <th>Amount</th> <th>Type</th> <th>SubCategory</th> <th>Recurring Transaction</th> <th>Recurring Date</th> <th>Message</th> <th> Edit </th>
            </tr>
        </thead>
        <tbody id="history_body">
            {% for data in history %}
            <tr>
                <td>{{data.date}}</td>
                <td>{{data.amount}}</td>
                <td>{{data.transaction_type}}</td>
                <td>{{data.subtransaction_type}}</td>
                <td>{{data.recurring}}</td>
                <td>{{data.recurring_type}}</td>
                <td>{{data.message}}</td>
                <td>
                    <button type="button" class="btn btn-warning"  onclick="openModal('edit_modal_{{forloop.counter}}', '{{data.transaction_type}}', '{{data.subtransaction_type}}')">
                        Edit
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="edit_modal_{{forloop.counter}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Transaction Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="amount">Transaction Amount: {{data.amount}}</label>
                            <button class="btn btn-warning" onclick="unhide('hid-1_{{forloop.counter}}')">Update</button><br>
                            <input type="number" name="amount" placeholder="New Amount" id="hid-1_{{forloop.counter}}" style="visibility: hidden;"><br>

                            <label for="date">Date: {{data.date}}</label>
                            <button class="btn btn-warning" onclick="unhide('hid-2_{{forloop.counter}}')">Update</button><br>
                            <input type="date" name="date" id="hid-2_{{forloop.counter}}" style="visibility: hidden;"><br/><br>
                        
                            <label for="message_box" class="form-label">Message: {{data.message}}</label>
                            <button class="btn btn-warning" onclick="unhide('hid-3_{{forloop.counter}}')">Update</button><br>
                            <textarea class="form-control form-control-sm" style="visibility: hidden;" name="message_box" rows="3" placeholder="Optional Note" style="width: 75%;" id="hid-3_{{forloop.counter}}"></textarea><br>
                            
                            <fieldset>
                                <legend for="t_type">Transaction Type: {{data.transaction_type}}</legend>
                                <br/>
                                <input type="radio" name="t_type_{{forloop.counter}}" value="Income" id="i_choice_{{forloop.counter}}">
                                <label for="i_choice">Income</label>
                                <input type="radio" name="t_type_{{forloop.counter}}" value="Expense" id="e_choice_{{forloop.counter}}">
                                <label for="e_choice">Expense</label>
                            </fieldset><br>

                            <p>Subcategory: {{data.subtransaction_type}}</p>
                            <!-- Subcategories for Income -->
                            <fieldset id="sub_income_modal">
                                <legend>Income Category: </legend><br/>

                                <input type="radio" value="earned" name="sub_i_type" id="earned_type">
                                <label for="earned_type">Earned</label><br/>

                                <input type="radio" value="portfolio" name="sub_i_type" id="portfolio_type">
                                <label for="portfolio_type">Portfolio</label><br/>

                                <input type="radio" value="passive" name="sub_i_type" id="passive_type">
                                <label for="passive_type">Passive</label>
                            </fieldset><br/>

                            <!-- Optional information about your expenses (sub-category) -->
                            <fieldset id="sub_expense_modal" disabled="true">
                                <legend>Expense Category: </legend><br/>
                                <input type="radio" value="food" name="sub_e_type" id="food_type">
                                <label for="food_type">Food/Grocery</label><br/>

                                <input type="radio" value="housing" name="sub_e_type" id="housing_type">
                                <label for="housing_type">Housing/Utilities</label><br/>

                                <input type="radio" value="personal" name="sub_e_type" id="personal_type">
                                <label for="personal_type">Personal</label><br/>

                                <input type="radio" value="transportation" name="sub_e_type" id="transportation_type">
                                <label for="transportation_type">Transportation</label><br/>

                                <input type="radio" value="financial" name="sub_e_type" id="financial_type">
                                <label for="financial_type">Financial/Debt</label><br/>
                            </fieldset><br/>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" onclick="submitEdits('{{data.id}}', '{{ forloop.counter }}' )">Save changes</button>
                            <button type="button" class="btn btn-danger" onclick="deleteQuery('{{data.id}}')">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p style="display: flex; justify-self: center; margin-top: 5%;">
    <b>Go to the transaction tab to enter data that will be shown in the history page</b>
</p>
{% endif %}

{% endblock %}