{% extends 'navbar.html' %}
{% block main_content %}
{% if plot %}
<br>
<h4>
    <b>Financial Statistics for: <span id="home_header">Ongoing Total</span></b>
</h4>
<br>

<form method="POST" style="margin-left: 3%;">
    {% csrf_token %}
    <label for='date_choice'><h6>Choose Month/Year:  </h6></label>
    <input type="month" onchange="filterMonth()" id="date_choice">
</form>

<!-- Displaying the Plot  -->
<div class="graph-container">
    <div class="graph-placeholder" id="plot_graph">
        {{ plot|safe }}
    </div>
</div>

{% else %}

<p style="display: flex; position: relative; justify-self: center; margin-top: 5%;">
    <b>Go to the transaction tab to enter data that will parameterise the graph and be shown in the homepage</b>
</p>

{% endif %}
{% endblock %}