{% extends 'base.html' %}
{% block main_content %}
<h3>Personal Finance Tracker</h3>
<br>
<div class="container pt-3 bg-light border rounded-3" style="padding-bottom: 20%;">
    <h4>Login</h4>
    <br>
    <form method="POST" class="main_form" autocomplete="off">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-info" id="confirm_btn">Submit</button>
        <br>
        <a href="register/" class="badge bg-dark" id="lnk">Register</a>
    </form>
</div>
{% endblock %}
    